/* For index.html */
/* h1 {
  color: blue;
  background-color: black;
} */

/* For "Use of "color" and "background-color" ____________> 1" */
/* h1 {
  color: blue;
  background-color: grey;
}

p {
  color: red;
  background-color: cornsilk;
}

button {
  color: gold;
  background: black;
} */

/* Practice Qs _________________> 2 */
h2 {
  color: rgb(120, 0, 120);
}

button {
  background-color: blue;
  color: white;
}

p {
  background-color: black;
  color: white;
}
