body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
}

.sidebar {
  background-color: red;
}

.main-content {
  background-color: blue;
}

.music-player {
  background-color: yellow;
}
